@media only screen and (max-width: 800px) {
    body{
display: none;
    }
  }

  @media only screen and (max-height: 600px) {
    
    body{
        display: none;
    }
    
  }


body{
    background-color: #e0e0e0;
    overflow: hidden;
}


#Container{
    font-size: 4vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#p1{
    font-size: 1vw;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    cursor: context-menu;
}

#btn1{

    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:20px;
    width:20px;
    cursor: crosshair;

}


#btn2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:25px;
    width:25px;
    cursor: none;
}

#btn3{
    position: absolute;
    left: 50%;
    top: 78%;
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:30px;
    width:30px;
    cursor: help;
}

#btn4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 25px;
    width: 25px;
    cursor: alias;
    background:transparent;
    border:none;
    outline:none;
    display:block;
}

#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px; 
    width:550px;
    z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:left; }

#alertBtn{
    text-align: right;  
    margin-left: 45%;
}


#theHidden{
    text-decoration: none;
    color: black;
        font-size: 1vw;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        display: none;
}


#Countdown{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }



footer{
position: absolute;
top: 90%;
left: 70%;

}

.socialMedia{
padding-right: 90px;
padding-top: 13%;


}
